// Golos Text

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text DemiBold'), local('GolosText-DemiBold'),
          url('/fonts/GolosText/GolosText-DemiBold.woff2') format('woff2'),
          url('/fonts/GolosText/GolosText-DemiBold.woff') format('woff'),
          url('/fonts/GolosText/GolosText-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text Regular'), local('GolosText-Regular'),
          url('/fonts/GolosText/GolosText-Regular.woff2') format('woff2'),
          url('/fonts/GolosText/GolosText-Regular.woff') format('woff'),
          url('/fonts/GolosText/GolosText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text Bold'), local('GolosText-Bold'),
          url('/fonts/GolosText/GolosText-Bold.woff2') format('woff2'),
          url('/fonts/GolosText/GolosText-Bold.woff') format('woff'),
          url('/fonts/GolosText/GolosText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text VF';
  src: local('Golos Text VF Regular'), local('GolosTextVF-Regular'),
          url('/fonts/GolosText/GolosTextVF-Regular.woff2') format('woff2'),
          url('/fonts/GolosText/GolosTextVF-Regular.woff') format('woff'),
          url('/fonts/GolosText/GolosTextVF-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text Medium'), local('GolosText-Medium'),
          url('/fonts/GolosText/GolosText-Medium.woff2') format('woff2'),
          url('/fonts/GolosText/GolosText-Medium.woff') format('woff'),
          url('/fonts/GolosText/GolosText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text Black'), local('GolosText-Black'),
          url('/fonts/GolosText/GolosText-Black.woff2') format('woff2'),
          url('/fonts/GolosText/GolosText-Black.woff') format('woff'),
          url('/fonts/GolosText/GolosText-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}