:root {
  --main-width: 1700px
  --content-width: 1400px
  --font-regular: 'Golos Text', Arial, Helvetica Neue, Helvetica, sans-serif
  --font-size-desktop: 16px;

  // main colors
  --black: #060606
  --black-o5: rgba(#060606, 0.5)
  --white: #FFFFFF
  --white-o5: rgba(#FFFFFF, 0.5)
  --red: #CE1124
  --main: #859a90
  --main-o5: rgba(#859a90, 0.5)
  --gray: #EFF1F5
  --gray-2: #313131
  --gray-o6: rgba(#393E46, 0.6)
  --background: #FAF9FB

  --body-color: var(--black) // цвет текста
  --bg-color: var(--background) // цвет фона

  --transition: 0.3s
  --sides-padding: 30px
  --block-padding: 30px

  --btn-radius: 100px

  --header-height: 84px
  --header-width: 1100px

  --btn-sm-height: 44px
  --btn-md-height: 52px
  --btn-lg-height: 64px
}
